<div class="root">
  <div class="bar">
    <div class="left">
      <img class="icon" src="assets/icon/wifi.svg">
    </div>
    <div class="center">
      <img class="icon" src="assets/icon/lock.svg">
    </div>
    <div class="right">
      <img class="icon" src="assets/icon/battery-full.svg">
    </div>
  </div>
  <div class="content" slideHorizontalDirective>
    <div class="tips">
      <div class="time">{{ getNowDateTime() | date:'HH:mm'}}</div>
      <div class="date">{{ getNowDateTime() | date:'yyyy/M/dd'}}</div>
    </div>
    <div class="notification">
      <div *ngFor="let item of notifications" slideHorizontalDirective>
        <div class="head">
          <div class="left">
            <img class="icon" src="{{'assets/icon/'+item.icon+'.svg'}}">
            <span>{{item.name}}</span>
          </div>
          <div class="right">
            <span>{{item.date | date:'HH:mm'}}</span>
          </div>
        </div>
        <div class="message">
          <div class="title">{{item.title}}</div>
          <div class="info">{{item.content}}</div>
        </div>
      </div>
    </div>
    <div class="lock">
      <div class="text">slide to unlock</div>
      <div class="function" slideVerticalDirective>
        <div class="seek_bar"></div>
        <div class="controller">
          <div class="switches">
            <div class="switch" *ngFor="let item of switches">
              <img class="icon" src="{{'assets/icon/'+item+'.svg'}}">
            </div>
          </div>
          <div class="music">
            <div class="music_info">
              <div class="avatar"></div>
              <div class="right">
                <div class="title">If i die young</div>
                <div class="artist">Jack Paul</div>
              </div>
            </div>
            <div class="buttons">
              <img class="icon" src="assets/icon/skip-backward.svg">
              <img class="icon" src="assets/icon/play.svg">
              <img class="icon" src="assets/icon/skip-forward.svg">
            </div>
          </div>
          <div class="tools">
            <div class="tool" *ngFor="let item of tools">
              <img class="icon" src="{{'assets/icon/'+item+'.svg'}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
