.icon {
  width: 1em;
  height: 1em;
}

@keyframes slide-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 30% 80%;
  }
  100% {
    background-position: 100% 0;
  }
}
